body{
    margin: 0px;
    padding: 0px;
    font-family: 'Merriweather', serif;
}
.navbar{
    overflow: hidden;
    float: right;
}
.navbar a{
    float: left;
    color: #181616;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
.navbar a:hover{
    color: rgba(0, 119, 255, 0.829);
}
h1{
    size: 80px;
}
h2{
    size: 60px;
}
.blue-highlight{
    color: rgba(0, 119, 255, 0.829);
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 90%;
}
.top-banner{
    margin-top:5%;
}
section{
    height: 450px;
    padding-bottom:100px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, rgba(255, 0, 119, 0.829),  rgba(214, 18, 18, 0.911));
    padding: 10px 20px;
    border-radius:5%;
    color: white;
    font-weight:700;
}
.link-button:hover{
    color: rgba(131, 213, 228, 0.966);
}
.latest-project{
    background-color:rgba(248, 249, 252, 1);
}
.project h1{
    text-align:center;
}
.project-area{
    width: 30%;
    float: left;
    margin-left:2%;
}
.project-area img{
    width: 100%;
    height: 250px;
}
.single-project{
    box-shadow: 10px 10px 40px rgb(184, 183, 183);
    height: 85%;
    background-color: rgba(255, 255, 255, 0.966);
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius:3%;
}
.work-section{
    background-image: url("images/s1.png");
    height: 100%; 
    width: 100%;
    background-position:center;
    background-repeat: no-repeat;  
    background-size: 1000px;
}
.work-section-word{
    text-align: left;
    margin-left: 15%;
    margin-top:auto;
    padding-top:13%;
    padding-left:10%;
    font-size: 60px;
    font-weight: 300;
    color: rgb(255, 255, 255);
}
.chat-btn{
    float: right;
    margin-left: 15%;
    margin-right: 20%;
    margin-top:-8%;
    border-radius: 5px;

    
}
.footer{
    color: rgb(105, 104, 104);
    text-align: center;
    font-weight:2;
    font-size: 13px ;
}
.mail{
    font-size: 25px ;
    color: #091624;
    text-decoration: none;
    text-align: center;
    display: block;
    margin: auto;
}
.logo{
    width: 2%;
    display: flex;
    gap: 20%;
    padding: 2% 20% 2% 15%;
    margin:auto;
}
.logo img{
    width: 100%;
    height: 100%;
}